In [1]:
import pandas as pd

In [2]:
inventory_df = pd.read_csv("inventory.csv")

In [3]:
inventory_df.head()

  warehouse_id product_id  stock_quantity  reorder_level last_restock_date
0         WH05    PROD123             451             76        2025-07-04
1         WH04    PROD116             300             45        2025-09-19
2         WH01    PROD047             240             87        2025-07-01
3         WH10    PROD089              98             31        2025-08-14
4         WH09    PROD007             226             71        2025-07-26

In [5]:
inventory_df['last_restock_date'] = pd.to_datetime(inventory_df['last_restock_date']).dt.strftime('%Y-%m-%d')

In [7]:
inventory_df.to_csv('inventory_fixed.csv', index=False)

In [10]:
customer_df = pd.read_csv('customers.csv')

In [11]:
customer_df.head(2)

,customer_id,customer_name,region,city,registration_date,customer_type
0,CUST0001,Kiran Reddy,Northeast,Dimapur,9/17/2024,Wholesale
1,CUST0002,Vikas Agarwal,South,Bangalore,2/14/2025,Retail

In [12]:
customer_df['registration_date'] = pd.to_datetime(customer_df['registration_date']).dt.strftime('%Y-%m-%d')

In [13]:
customer_df.to_csv('customer_fixed.csv', index=False)

In [14]:
orders_df = pd.read_csv('orders.csv')

In [15]:
orders_df.head(2)

   order_id customer_id product_id order_date  quantity
0  ORD00001    CUST0886    PROD051  4/21/2024         1
1  ORD00002    CUST0667    PROD066  10/8/2025         2

In [17]:
orders_df['order_date'] = pd.to_datetime(orders_df['order_date']).dt.strftime('%Y-%m-%d')

In [18]:
orders_df.to_csv('orders_fixed.csv', index=False)

In [19]:
shipments_df = pd.read_csv('shipments.csv')

In [20]:
shipments_df.head(2)

  shipment_id  order_id  ship_date delivery_date expected_date       carrier
0   SHIP00001  ORD00001  4/23/2024     4/27/2024     4/28/2024          DTDC
1   SHIP00002  ORD00002  10/9/2025    10/16/2025    10/15/2025  Ecom Express

In [21]:
shipments_df['ship_date'] = pd.to_datetime(shipments_df['ship_date']).dt.strftime('%Y-%m-%d')

In [22]:
shipments_df['delivery_date'] = pd.to_datetime(shipments_df['delivery_date']).dt.strftime('%Y-%m-%d')

In [23]:
shipments_df['expected_date'] = pd.to_datetime(shipments_df['expected_date']).dt.strftime('%Y-%m-%d')

In [24]:
shipments_df.to_csv('shipments_fixed.csv', index=False)